button.fiction,
button.non_fiction,
button.poetry {
  background-size: cover;
  background-size: 110%;
  background-position: 50% 50%;
  width: 100%;
  height: 300px;
  font-size: 2rem;
  border: none;
  border-radius: 30px;
  text-align: center;
}

.fiction {
  background-image: url("https://i.postimg.cc/SKsFKLTm/ficcion.png");
}
.fiction:hover {
  box-shadow: inset 0 0 100px #000000;
}

.non_fiction {
  background-image: url("https://i.postimg.cc/gjq6NLCB/no-ficcion.png");
}
.non_fiction:hover {
  box-shadow: inset 0 0 100px #000000;
}

.poetry {
  background-image: url("https://i.postimg.cc/QC5r3X65/poesia.png");
}
.poetry:hover {
  box-shadow: inset 0 0 100px #000000;
}
.botones {
  padding-top: 50px;
  padding-bottom: 50px;
  /* margin-left: 130px; */
}
