.container {
    padding: 2px 16px;
    width: 30%;
  }

label {
    display: block;
    text-align: left;
}

.recuperar {
    color: #4EB7BC;
}

.login-center {
    display: flex;
    align-items: center;
}