.container {
  padding: 2px 16px;
  width: 100%;
  max-width: 500px;
}

label {
  display: block;
  text-align: left;
}

.recuperar {
  color: #4eb7bc;
}

.login-center {
  display: flex;
  align-items: center;
}
