<section class="cover-img-bg full-height">
  <div class="blue-overlay">
    <div class="container">
      <div class="card-container p-4">
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <div class="d-grid gap-2">
              <button
                type="button"
                v-for="button in buttons"
                :key="button.id"
                :class="getButtonClass(button.id)"
                @click="onChangeView(button.id)"
              >
                {{button.text}}
              </button>
            </div>
          </div>
          <div class="col-sm-12 col-md-9">
            <div v-if="view === 'crear-texto'">
              <div v-if="user.canShareTexts">
                <CrearTextoForm />
              </div>
              <div v-else>
                <div class="alert alert-danger" role="alert">
                  El profesor debe autorizarte a subir textos!
                </div>
              </div>
            </div>
            <div v-else-if="view === 'editar-perfil'">
              <EditarPerfil :user="user" />
            </div>
            <div v-else="view === 'cambiar-password'">
              Cambiar pass
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
