<section class="two-section-container">
  <div class="hero-image">
    <div class="hero-text">
      <div>
        <h1 class="font-abril">Mis textos</h1>
      </div>
    </div>
  </div>
  <div v-if="result.length > 0" class="bottom-section p-relative">
    <div class="container mt-3 mb-3">
      <div class="row g-2">
        <form class="col-md-4">
          <input
            class="form-control"
            v-model="criterioDeBusqueda"
            type="search"
            placeholder="Buscar por titulo"
            aria-label="Search"
          />
          <a href="#" class="searchbar-clear"></a>
        </form>
      </div>
    </div>
    <div class="container mb-3">
      <div class="row g-3">
        <div
          class="col-md-4 col-sm-12 "
          v-for="(item, index) in filteredList()"
          :key="index"
        >
          <div class="card p-2">
            <h4 class="card-title">{{ item.title }}</h4>
            <p class="card-text">{{ item.userName | capitalize}}</p>
          </div>
        </div>
      </div>
    </div>
    <loader v-if="isLoading"></loader>
  </div>
  <div v-if="result.length == 0 && !isLoading" class="container mt-3">
    <div class="alert alert-danger" role="alert">
      ¡Este usuario no posee ningún texto!
    </div>
  </div>
</section>
