<section class="two-section-container">
  <div class="hero-image">
    <div class="hero-text">
      <div>
        <h1 class="font-abril">Admin</h1>
      </div>
    </div>
  </div>
  <div class="container bottom-section">
    <div v-for="user in users" class="card mt-2">
      <div class="card-body row justify-content-between">
        <div class="col-md">{{user.id}}</div>
        <div class="col-md">{{user.name}} {{user.lastName}}</div>
        <div class="col-md">{{user.email}}</div>
        <div class="col-md text-end">
          <div v-if="!user.canShareTexts">
            <button class="btn btn-danger">Autorizar</button>
          </div>
          <div v-if="user.canShareTexts">
            Autorizado
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
